/* navigation links styling */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    max-width: 100%;
}
a { 
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Space Grotesk';
    font-weight: 900;
}
body{
    background-color: #FAFAFA;
    max-width: 100%;
    max-width: 100rem;

}
#logo{
    display: flex;
}
#name1{
    
    padding-right: 100px;
    padding-top: 30px;
}
#name1>a{
    color: orangered;
    font-size: 30px;
    font-family: "Audiowide" !important;

}
.header{
    background-color: #ddd;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 15px;
}
.nav-links>li{
    list-style: none;
    padding: 30px;
    background-color: #ddd;
}
.nav-links>li>a:hover{
    color: orangered;
}
.nav-links{
    display: flex;
}
#getstarted{
    background-color: #2549D3;
    border-radius: 10px;
    font-size: x-large;
    padding-left: 50px;
    padding-right: 50px;
}
#getstarted>a{
    color: white;
    font-size: 25px;

}
#getstarted>a:hover{
    color: orangered;
}

/* heros secton styling */
.heros{
    background-image: url('/assets/images/Altani\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}
.intro{
    padding: 100px;
    font-size: 35px;
}
#helping{
    color: #2549D3;
}
#creating{
    font-weight: bolder;
    font-size: medium;
}
.btn{
    padding: 15px;
    background-color: orangered;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    margin: 15px;
    border: none;
}
.btn>a{
    color: #fafafa;
}
.btn>a:hover{
    color: #000;
}

/* about secton styling*/

.container{
    display: flex;
    margin: 50px;
    margin-top: 150px;
}
#about-title{
    color: #2549D3;
    font-size: 25px;
}
#why-us{
    color: #2549D3;
    font-size: 25px;
}
.btn-2{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: orangered;
    border-radius: 10px;
    font-weight: bolder;
    margin: 15px;
    font-size: 20px;
    border: none;
}
.btn-2>a{
    color: #fafafa;
    font-size: 20px;
}
.btn-2>a:hover{
    color: #000;
}
.about-list{
    list-style: none;
    text-align: left;
}
.about-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}
.about-item-icon {
    color: orangered;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    display: grid;
    place-items: left;
}
.about-item-text {
    font-size: 16px;
    padding-left: 0;
    margin-left: 0;
}

/* services secton styling*/
.service{
    background-color: #ddd;
    margin: 0px;
    margin-top: 150px;
    height: 40rem;
    border-radius: 10px;
}
.service-subheading{
    color: orangered;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    padding: 15px;
}
.service-heading{
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
    color: #2549D3;
}
.service-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    margin: 30px;
}
.service-list-item {
    position: relative;
    background: #FAFAFA;
    text-align: center;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
}
.service-list-heading{
    font-size: 25px;
    font-weight: 700;
    color: #2549D3;
}
.material-symbols-outlined{
    color: orangered;
}
.service-list-item>a{
    color: grey;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
}
.service-list-item>a:hover{
    color: #000;
}
